# Order is important. The last matching pattern has the most precedence.

*                 @chef/build-engineering-systems-team
.expeditor/**     @chef/build-engineering-systems-team
README.md         @chef/build-engineering-systems-team
